@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

:root{
  --clr-light-blue: #93B5FF;
  --clr-dark-bg: #12181b;
  --clr-panel-bg: #2a2e35;
  --clr-light-gray-blue: #b2becd;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Sofia Sans", sans-serif;
  min-height: 100vh;
  background:linear-gradient(176deg, var(--clr-dark-bg),var(--clr-panel-bg));
  color:white;
}

hr{
  border: 1px solid rgba(255, 255, 255, 0.041);
}

.container{
  margin: 0 auto;
  max-width: 1900px;
  width: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.navbar__logo{
  display: flex;
  gap: 20px;
}

.navbar__title{
  font-weight: 900;
  font-size: 2.5em;
}

.navbar__user-info{
  display: flex;
  align-items: center;
  gap:10px;
}

.navbar__user-avatar{
  border-radius: 2rem;
  cursor: pointer;
}

.library__title{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 800;
}

.library__add-button,
.book-card__read-button{
  background-color: var(--clr-light-blue);
  border: 1px solid transparent;
  color:white;
  padding:0.5em 1em;
  border-radius: 0.6em;
  font-size: 1.35em;
  font-weight: 700;
  cursor: pointer;
  transition: all ease 0.25s;
}

.library__add-button{
  margin: 3rem 0 ;
}

.library__add-button:hover,
.book-card__read-button:hover{
  background-color: #5e91ff;
}

.library__book-list{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 50px;
}

.book-card{
  height: 31rem;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
  transition: all ease 0.25s;
  background-color: var(--clr-panel-bg);
  cursor: pointer;
}

.book-card:hover{
  scale: 1.05;
}

.book-card__image{
  background-color: gray;
  height: 50%;
  border-radius: 1rem 1rem 0 0;
}

.book-card__title,
.book-card__author{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.book-card__title{
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

.book-card__author{
  color:var(--clr-light-gray-blue);
  margin: 1.2rem 0;
}

.book-card__pages{
  height:70px;
  color:var(--clr-light-gray-blue);
}

.book-card__details{
  padding:1.2rem;
}

.book-card__actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-card__read-button.selected{
  background-color: white;
  border: 1px solid var(--clr-light-blue);
  color:var(--clr-light-blue);
}

.book-card__delete-button{
  width:25px;
  height:25px;
}

.book-card__delete-button:hover{
  filter: invert(20%) sepia(100%) saturate(700%) hue-rotate(-50deg) brightness(100%) contrast(100%);
}

.add-book{
  inset: 0.5rem;
  margin:auto;
  padding: 1rem;
}

.modal-header{
  display: flex;
  justify-content: space-between;
}